{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      1, {
        "extensions": [".js", ".jsx"],
      }
    ],
    "func-names": "off"
  },
  "env": {
    "browser": true
  }
}
