/*! Based on normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/*
* This implementation of normalize-scss and base styles has been modified
* in the following ways:
* - All styles are scoped within the #fs-root ID of the app.
* - Styles to standardize the appearance of elements across browsers are in the
*   globals mixin.
* - Specific base styles for elements including default margins, padding,
*   and font sizes have been moved to global helper placeholders.
*/

@mixin globals {
  // Correct text resizing oddly in IE 6/7 when body `font-size` is set using
  // `em` units.
  background: $background-color;
  color: $text-color;
  font-size: ($base-font-size / 16px) * 100%;
  line-height: ($base-line-height / $base-font-size) * 1em;
  font-family: $base-font-family; /* 1 */
  font-weight: 400;
  /* stylelint-disable property-no-vendor-prefix */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-enable */

  // Adjust font-size globally per breakpoint.
  // As you adjust the percentage growth of font-size, translate
  // to the value to the mixin adjust-font-size-to in the mixins
  // file as a point value to maintain font-size across breakpoints.
  @include breakpoint($bp2) {
    font-size: ($base-font-size / 16px) * 112%;
  }

  @include breakpoint($bp3) {
    font-size: ($base-font-size / 16px) * 124%;
  }

  /**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  /* HTML5 display definitions
     ========================================================================== */

  /**
   * Add the correct display in IE <10.
   * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
   * Add the correct display in IE for `main`.
   */

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  /**
   * Add the correct display in IE <10.
   */

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    @if support-for(ie, 7) {
      *display: inline;
      *zoom: 1;
    }
  }

  /**
   * Add the correct display and remove excess height in iOS 4-7.
   */

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

  progress {
    vertical-align: baseline;
  }

  /**
   * Add the correct display in IE <11, Safari <8, and Firefox <22.
   * 1. Add the correct display in IE.
   */

  template, /* 1 */
  [hidden] {
    display: none;
  }

  /* Text-level semantics
     ========================================================================== */

  /**
   * 1. Remove the bottom border in Firefox <40.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    /* stylelint-disable rule-no-duplicate-properties */
    text-decoration: underline dotted; /* 2 */
    /* stylelint-enable */
  }

  /**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */

  b,
  strong {
    font-weight: inherit;
  }

  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

  b,
  strong {
    font-weight: bolder;
  }

  /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

  %fs-monospace,
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    @if support-for(ie, 6) {
      _font-family: 'courier new', monospace;
    }
    font-size: 1em; /* 2 */
  }

  /**
   * Add the correct font style in Android <4.4.
   */

  dfn {
    font-style: italic;
  }

  /**
   * Add the correct background and color in IE <10.
   */

  mark {
    background-color: $yellow;
    color: $black;
  }

  /**
   * Add the correct font size in all browsers.
   */

  small {
    font-size: 80%;
  }

  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  /* Embedded content
     ========================================================================== */

  /**
   * Hide the overflow in IE.
   */

  svg:not(:root) {
    overflow: hidden;
  }

  /* Grouping content
     ========================================================================== */


  @if support-for(ie, 7) {
    /**
     * Correct list images handled incorrectly in IE 7.
     */

    nav ul,
    nav ol {
      list-style: none;
      list-style-image: none;
    }
  }

  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }


  pre {
    @extend %fs-monospace;
  }

  /* Forms
     ========================================================================== */

  /**
   * Known issues:
   * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
   *   select, unless a border property is set. The default font weight on
   *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
   *   OS X.
   * - It is recommended that you do not style checkbox and radio inputs as
   *   Firefox's implementation does not respect box-sizing, padding, or width.
   * - Certain font size values applied to number inputs cause the cursor style of
   *   the decrement button to change from default to text.
   * - The search input is not fully stylable by default. In Chrome and Safari on
   *   OSX/iOS you can't control font, padding, border, or background. In Chrome
   *   and Safari on Windows you can't control border properly. It will apply
   *   border-width but will only show a border color (which cannot be controlled)
   *   for the outer 1px of that border. Applying -webkit-appearance: textfield
   *   addresses these issues without removing the benefits of search inputs (e.g.
   *   showing past searches). Safari (but not Chrome) will clip the cancel button
   *   on when it has padding (and textfield appearance).
   */

  @if support-for(ie, 7) {
    /**
     * Correct margin displayed oddly in IE 6/7.
     */

    form {
      margin: 0;
    }
  }



  /**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */

  html [type="button"], /* 1 */
  [type="reset"],
  [type="submit"] {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: button; /* 2 */
    /* stylelint-enable */
  }

  [type="button"],
  [type="reset"],
  [type="submit"] {

    /**
     * Remove the inner border and padding in Firefox.
     */

    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    /**
     * Restore the focus styles unset by the previous rule.
     */

    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }

  /**
   * 1. Add the correct box sizing in IE <11.
   * 2. Remove the padding in IE <11.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    @if support-for(ie, 7) {
      *height: 13px; /* 3 */
      *width: 13px; /* 3 */
    }
  }

  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

  [type="search"] {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: textfield; /* 1 */
    /* stylelint-enable */
    outline-offset: -2px; /* 2 */

    /**
     * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
     */

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      /* stylelint-disable property-no-vendor-prefix */
      -webkit-appearance: none;
      /* stylelint-enable */
    }
  }

  /**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
  }

  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

  ::-webkit-file-upload-button {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: button; /* 1 */
    /* stylelint-enable */
    font: inherit; /* 2 */
  }
}

#fs-root {
  @include globals;
}
