/**
 * @file
 * Define your custom Sass mixins and extends here.
 * @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */

/* ==========================================================================
   Typography grooming extends
   ========================================================================== */

/* Tight tracking */
%fs-track-in {
  letter-spacing: -.0125em;
}

/* Open tracking */
%fs-track-out {
  letter-spacing: .04em;
}

/* Style larger text with a tighter tracking, change weight, etc.  */
%fs-display-type {
  @extend %fs-track-in;
}

/* Style all caps with a slightly open tracking. */
%fs-allcaps {
  @extend %fs-track-out;
  text-transform: uppercase;
}

/* Unstyle a list */
%fs-list--simple {
  @extend %list;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ==========================================================================
   Clearfix extend
   ========================================================================== */

/**
 * Applies a clearfix ruleset using a placeholder selector. Placeholder selectors
 * do not get compiled uless they are called - removing the nesting issues that
 * can otherwise occur with extends.
 */

.fs-clearfix,
%fs-clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


/* ==============================================================
   Visually hidden extend
   ============================================================== */

/**
 * Element-invisible as defined by snook.ca
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.fs-element-invisible,
%fs-element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if support-legacy-browser(ie, '7') {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
%fs-element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.fs-element-focusable,
%fs-element-focusable {
  @extend %fs-element-invisible;

  &:active,
  &:focus {
    @extend %fs-element-invisible-off;
  }
}

/* ==============================================================
   CSS3 transition mixin
   ============================================================== */

@mixin trans($property: all, $timing: .3s, $easing: ease) {
  transition: $property $timing $easing;
}
