/**
 * @file
 * Centralize your imports here.
 * Styles are organized using the SMACSS technique.
 * @see http://smacss.com/book/
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "global-scss/fs-init";

/* Set browser support */
@import "global-scss/fs-support-for";

/* Set the vertical rhythm */
@import "global-scss/vertical-rhythm/fs-vertical_rhythm";

/* HTML element (SMACSS base) rules */
@import "global-scss/fs-global-base-helpers";

/* Layout rules */
@import "global-scss/grid-layouts/_fs-l-singularity";
@import "global-scss/grid-layouts/_fs-l-25-75";

/* Component (SMACSS module) rules */
@import "components/text-search/fs-search-form";
@import "components/text-search/fs-autocomplete";
@import "components/fs-search-filters";
@import "components/fs-aside";
@import "components/results/fs-search-results";
@import "components/sort-menu/fs-search-scope";
@import "components/results/fs-pagination";
@import "components/results/fs-search-results-stat";
@import "components/current-query/fs-applied-filters";
@import "components/range-facet/react-dates";
@import "components/range-facet/react-dates-overrides";
